<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>PharmCompare</title>
    </head>
    <body>
        <h1></h1>
        <h2>PharmCompare</h2>
        <h3>Поиск лекарства</h3>
        <form>
            <div class="dws-input">
                <input style="font-size: 30px" type="text" placeholder="Название" size=55>
            </div>
        </form>
        <h6>Сортировка</h6>
        <h7>По возрастанию</h7>
        <h8></h8>
        <h9></h9>
        <h10></h10>
        <h11></h11>
        <form>
            <div >
                <input class="dws-submit" type="submit" value="Найти">
            </div>
        </form>
    </body>
</html>